@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #334155;
}

.g_grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 144px);
  gap: 28px;
  place-content: center;
  margin-top: 24px;
}

.g_grid-genres {
  display: grid;
  grid-template-columns: repeat(auto-fill, 144px);
  gap: 14px;
  place-content: center;
}

.g_loading-skeleton {
  animation: loading-skeleton infinite 2s;
}

@keyframes loading-skeleton {
  0%, 100% {
    opacity: 35%;
  }
  50% {
    opacity: 15%;
  }
}